# IDEs and editors
/.idea

# node modules
/node_modules

# environment variables
.env

# packaged app
/TTR-win32-x64

# build
/build

# file type
*.css.map

# package lock
package-lock.json
yarn.lock

# logs
yarn-error.log
