# IDEs and editors
/.idea

# node modules
/node_modules

# package lock
package-lock.json
yarn.lock

# environment variables
.env

# packaged app
/TTT-win32-x64

# build
/build

# file type
*.css.map
