// Colors
$white: #FFFFFF;
$cyan: #60daaa;
$darkCyan: #46a882;
$darkgrey: #121212;
$red: crimson;

.buttons {
   text-align: center;
}

.custom-btn {
   padding: 10px 50px;
   font-family: "Roboto", sans-serif;
   font-weight: bold;
   font-size: 15px;
   background: transparent;
   outline: none !important;
   cursor: pointer;
   transition: all 0.2s ease;
   position: relative;
   display: inline-block;
}

/**** RUN-BTN ****/
.btn {
   background: $darkCyan;
   border: 2px solid $darkgrey;
   border-radius: 5px;
   transition: all 0.3s ease;
}
.btn:before,
.btn:after {
   position: absolute;
   content: " ";
   z-index: -1;
   width: 25%;
   top: 50%;
   height: 2px;
   background: $cyan;
   transition: all 0.3s ease;
}
.btn:before {
   left: -30%;
}
.btn:after {
   right: -30%;
}
.btn:hover {
   background: $cyan;
   border: 2px solid $darkCyan;
}
.btn:hover:before {
   left: 0%;
}
.btn:hover:after {
   right: 0%;
}
.btn:active {
   top: 2px;
}

.green {
   color: $darkgrey;
}

.red {
   color: $red;
   border: 2px solid $red;
}

.removeBtn {
   color: $red;
   cursor: hand;
}
.removeBtn:hover {
   text-shadow: whitesmoke 0 0 10px;;
}
.removeBtn:active {
   text-shadow: lightcoral 0 0 15px;;
}

/**** HIDE-BTN ****/
#hideBtn {
   background-image: url('../public/images/hide_btn.png');
   position: fixed;
   top: 10px;
   right: 10px;
   z-index: 1;

   border: 1px solid $darkCyan;
   border-radius: 3px;
   background-repeat: no-repeat;
   color: $white;

   width: 40px;
   height: 38px;

   cursor: hand;
   align-content: center;
}
#hideBtn:hover {
   background-position: 0 -38.6px;
   box-shadow: 0 0 10px $cyan;
}
#hideBtn:active {
   background-position: 0 -77.5px;
   box-shadow: 0 0 10px $darkCyan;
}
